<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/94462e561c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="mobile-header shadow-sm p-3 mb-5 rounded">
        <div class="mobile-header-items-1">
            <a href="/main"><i class="fa-solid fa-backward fa-2xl"></i></a>
        </div>
        <div class="heading"><h1>Buds and Headphones</h1></div>
    </header>
    <div class="mobile-all">
        <div class="card cardOfMobiles">
            <img src="https://img.poorvika.com/cdn-cgi/image/width=1600,height=1600,quality=75/1600_JPG/Tv-Audio/Audio/Oneplus/OnePlus-Nord-Buds-CE-True-Wireless/OnePlus-Nord-Buds-CE-True-Wireless-Misty-Gray-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Oneplus Nord Buds</h5>
                <p class="card-text">All noise cancellation | Misty Grey <br> <strong>₹2,599</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/51MMlyKxYJL._SL1000_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Samsung Buds Pro</h5>
                <p class="card-text">Intelligent ANC | Silver  <br> <strong>₹17,999</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/61dkhl0BNmS._SL1500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Oneplus buds pro</h5>
                <p class="card-text">With mic and Noice cancellation<br> <strong>₹7,990</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MME73?wid=2000&hei=2000&fmt=jpeg&qlt=95&.v=1632861342000" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Apple airpods pro</h5>
                <p class="card-text">Bluetooth 5.0, With MagSafe Charging Case, White<br> <strong>₹21,499</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/61ayVOFL20L._SX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">JBL Tune 710BT</h5>
                <p class="card-text">50 Hours Playtime with Quick Charging Wireless Over Ear Headphones with Mic, Dual Pairing <br> <strong>₹4,999</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/61u1VALn6JL._SX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">boAt Rockerz 450</h5>
                <p class="card-text">Bluetooth On Ear Headphones with Mic, Upto 15 Hours Playback, 40MM Drivers, Padded Ear Cushions, Integrated Controls and Dual Modes<br> <strong>₹3,900</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://elitehubs.com/wp-content/uploads/2020/10/rz04-03240100-r3m1-image-main-600x600-1.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Razer BlackShark V2 X Black Gaming Headset</h5>
                <p class="card-text">Razer BlackShark V2 X is equipped with Razer TriForce 50mm drivers which gives it the power to tune low, mid, and high audio frequencies<br> <strong>₹3,500.00</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQBKEjCFz0CkSi6CNaREaofaKfbqTaFWE-5rYXFP18Afqq_9b8kZ2GG6bMqIAYUQYP3IJiZZ25UJm6hT8XXQotZ-RUp0d9ZZlAZ87R03hFbrepZhWcoOlkJqQ&usqp=CAE" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">JBL Yune 510BT</h5>
                <p class="card-text">Wireles stereo headphone, 40 hours Battery Life, Black, <br> <strong>₹2,999.00</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        
    </div>
</body>
</html>