<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/94462e561c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container1">
      <div class="home-head-2">
        <header class="home-head">
          <div id="head-item" class="items">
            <div class="item1">
              <button class="head-but">
                <i class="fa-brands fa-instagram fa-lg"></i>
              </button>
            </div>
            <div class="item1">
              <button class="head-but">
                <i class="fa-brands fa-facebook fa-lg"></i>
              </button>
            </div>
            <div class="item1">
              <button class="head-but">
                <i class="fa-brands fa-twitter fa-lg"></i>
              </button>
            </div>
          </div>
          <div class="items">
            <button class="log-but">
              <a class="link3" href="/LogIn">
                Log In
                <i
                  class="fa-solid fa-right-to-bracket fa-beat-fade fa-lg"
                  style="
                    --fa-beat-fade-opacity: 0.67;
                    --fa-beat-fade-scale: 1.075;
                  "
                ></i>
              </a>
            </button>
          </div>
        </header>
      </div>
      <div class="home-content-1">
        <div class="content-info-2">
          <h1 class="online">Let's</h1>
          <h1 class="shopping">Shop</h1>
        </div>
        <div class="content-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            posuere tellus neque, ac imperdiet eros sodales sed. Proin felis
            sapien,
          </p>
        </div>
        <div>
          <button class="content-but">
            <a class="link2" href="/register"
              >GET STARTED
              <i
                class="fa-sharp fa-solid fa-angles-right fa-beat-fade fa-lg"
              ></i
            ></a>
          </button>
        </div>
      </div>
      <div class="home-content-2">
        <div class="home-content-2-items">
          <div
            id="carouselExampleControls"
            class="carousel slide shadow-lg"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  width="500px"
                  height="550px"
                  src="https://www.apple.com/newsroom/images/product/iphone/geo/Apple-iPhone-14-iPhone-14-Plus-hero-220907-geo_Full-Bleed-Image.jpg.large.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  width="500px"
                  height="550px"
                  src="https://images.samsung.com/uk/smartphones/galaxy-s22-ultra/buy/02_carousel/04_basic-colors/s22_ultra_productkv_burgundy_mo.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  width="500px"
                  height="550px"
                  src="https://cdn.dxomark.com/wp-content/uploads/medias/post-111229/OnePlus-10-Pro_featured-image-packshot-review-1024x691.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="home-content-2-item shadow-lg">
          <h1>
            AMAZING OFFERS <br />
            ON NEW LAUNCHES
          </h1>
          <br />
          <a class="link4" href="/LogIn">SEE MORE...</a>
        </div>
      </div>
      <div class="home-content-3">
        <div  class="home-content-3-item">
          <div class="card text-bg-dark shadow-lg">
            <img src="https://images.unsplash.com/photo-1590658268037-6bf12165a8df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" class="card-img" alt="..." />
            <div class="card-img-overlay">
              <h1 class="card-title"> Buds </h1>
              <p class="card-text">
                Feel the Power of Music
              </p>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="home-footer"> 
          <div class="container text-center">
            <div class="row row-cols-3">
              <div class="col"><a class="link5" href="#">About us</a></div>
              <div class="col"><a class="link5" href="#">Help</a></div>
              <div class="col"><a class="link5" href="#">FAQs</a></div>
              <div class="col"><a class="link5" href="#">Service Centers</a></div>
              <div class="col"><a class="link5" href="#">Blog</a></div>
              <div class="col"><a class="link5" href="#">Terms of Use</a></div>
              <div class="col"><a class="link5" href="#">Privacy</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="home-content-1-img">
      <img
        height="650px"
        src="https://images.unsplash.com/photo-1650781593595-562a2f8cce3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGVsZWN0cm9uaWNzJTIwc2hvcHBpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
        alt=""
        srcset=""
      />
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
