<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/94462e561c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="mobile-header shadow-sm p-3 mb-5 rounded">
        <div class="mobile-header-items-1">
            <a href="/main"><i class="fa-solid fa-backward fa-2xl"></i></a>
        </div>
        <div class="heading"><h1>LAPTOPS</h1></div>
    </header>
    <div class="mobile-all">
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/71Xk9qt6IwL._SL1500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Acer Predator helios 300</h5>
                <p class="card-text">11th Gen Intel Core i9-11900H 15.6" (39.62cms) QHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/165 Hz, Black, 2.3 kg)<br> <strong>₹1,14,990</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/alienware-notebooks/m15-r7-non-touch-non-tobii/media_gallery/laptop-alienware-m15-r7-gallery-hero-single-zone-kb.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=402&qlt=100,1&resMode=sharp2&size=402,402&chrss=full" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Alienware m15 R7 Gaming Laptop</h5>
                <p class="card-text">Uncompromising performance for gaming, VR, and next-level content creation.<br> <strong>₹1,49,900</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/51DmOWr3rnL._SX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">HP Pavilion AMD Ryzen 5</h5>
                <p class="card-text">5600H 15.6 inches(39.6cm) FHD Gaming Laptop (8GB/512GB SSD/Windows 11 Home/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/1.98 Kg)<br> <strong>₹71,299</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/81syFo9ehwL._SL1500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Dell Inspiron 16 5620</h5>
                <p class="card-text">3000 FHD 1080p, AMD Ryzen 5, 8GB Memory, 256GB SSD, AMD Radeon Vega 8 Graphics, Windows 10 Home, Black<br> <strong>₹77,656</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mbp-spacegray-select-202206?wid=1280&hei=1190&fmt=jpeg&qlt=90&.v=1653493200207" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">13-inch MacBook Pro - Space Grey</h5>
                <p class="card-text">Apple M2 chip with 8-core CPU, 10-core GPU and 16-core Neural Engine 8GB unified memory 256GB SSD storage<br> <strong>₹1,39,900</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
    </div>
</body>
</html>