<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/94462e561c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="mobile-header shadow-sm p-3 mb-5 rounded">
        <div class="mobile-header-items-1">
            <a href="/main"><i class="fa-solid fa-backward fa-2xl"></i></a>
        </div>
        <div class="heading"><h1>Mobiles</h1></div>
    </header>
    <div class="mobile-all">
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/31wacBawB3L.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title"><%= mobile1  %></h5>
                <p class="card-text">New apple iphone 14 | 128GB BLACK <br> <strong>₹79,900</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/61NSNzhTNwL._AC_SL1500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title"><%= mobile2  %></h5>
                <p class="card-text">apple iphone 13 | 128GB Blue  <br> <strong>₹49,900</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://images.samsung.com/uk/smartphones/galaxy-s22-ultra/buy/02_carousel/04_basic-colors/s22_ultra_productkv_burgundy_mo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">SAMSUNG S22 ULTRA</h5>
                <p class="card-text">apple iphone 13 | 12GB | 256GB Burgundy <br> <strong>₹100999.00</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/71HUnJvHsbL._SL1500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">SAMSUNG S22 5G</h5>
                <p class="card-text">PHANTHOM WHITE| 8GB | 128GB <br> <strong>₹66,999.00</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/31wacBawB3L.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Iphone 14</h5>
                <p class="card-text">New apple iphone 14 | 128GB BLACK <br> <strong>₹79,900</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://m.media-amazon.com/images/I/61NSNzhTNwL._AC_SL1500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">Iphone 13</h5>
                <p class="card-text">apple iphone 13 | 128GB Blue  <br> <strong>₹49,900</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://images.samsung.com/uk/smartphones/galaxy-s22-ultra/buy/02_carousel/04_basic-colors/s22_ultra_productkv_burgundy_mo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">SAMSUNG S22 ULTRA</h5>
                <p class="card-text">apple iphone 13 | 12GB | 256GB Burgundy <br> <strong>₹100999.00</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        <div class="card cardOfMobiles">
            <img src="https://geniusmobile.lk/wp-content/uploads/2022/03/gsmarena_006.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form action="/mobile" method="post">
                <h5 class="card-title">SAMSUNG S22 5G</h5>
                <p class="card-text">PHANTHOM WHITE| 8GB | 128GB <br> <strong>₹66,999.00</strong></p>
                <button type="submit" class="btn btn-primary">ORDER NOW</button>
              </form>
            </div>
        </div>
        
    </div>
</body>
</html>